.avatar-section{
    @extend .flex-central;
    flex-direction: column;
    .avatar{
        border-radius: 100%;
        border: 3px solid var(--primary-color);
        background-color: var(--secondary-color);
        &:hover{
            width: 180px;
            height: 180px;
            transition: 0.6s;
        }
    }
    .icons{
        @extend .flex-central;
        margin-top: 10px;
        .icon{
            margin-right: 5px;
            filter: var(--invert);
            border-radius: 10px;
            padding: 4px;
        }
        .btn-theme{
            cursor: pointer;
            filter: grayscale(100%);
        }
    }
}