.content-section{
    margin-left: 40px;
    width: 100%;
    min-height: 16rem;
    display: flex;
    align-items: center;

    //Common Elements
    h1, h2{
        margin-top: 0px;
    }
    .btn{
        background-color: var(--primary-color);
        color: #ffffff;
        padding: 12px 24px;
        margin-top: 12px;
        margin-right: 8px;
        border-radius: 18px;
        text-decoration: none;
        &:hover{
            background-color: var(--secondary-color);
            transition: 0.6s;
            font-weight: bolder;
        }
    }
    .menu{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0px;
    }

    //Home Page
    .skills{
        display: inline-flex;
        .skill-icon{
            object-fit: contain;
            width: 30px;
            height: 30px;
            margin-right: 2px;
            &:hover{
                width: 35px;
                height: 35px;
                transition: 0.4s;
            }
        }
    }

    //About Page
    .about-options{
        display: flex;
        flex-wrap: wrap;
    }

    //Portfolio Page
    .carrousel{
        display: flex;
        justify-content: stretch;
        align-items: center;
        flex-wrap: nowrap;
        max-width: 70%;
        .arrow-div{
            @extend .flex-central;
            margin-top: -24px;
            font-size: 24px;
            color: var(--contrast-color);
            opacity: 0.8;
            cursor: pointer;
            &:hover{
                opacity: 1;
            }
        }
        .arrow1{
            transform: translateX(-15px);
        }
        .arrow2{
            transform: translateX(10px);
        }
        .portfolio-div{
            transform: translateX(-3%);
            @extend .flex-central;
            flex-direction: column;
            .portfolio-img{
                max-width: 105%;
                border-radius: 10px;
                opacity: 0.9;
                &:hover{
                    opacity: 1;
                    transition: 0.4s;
                }
            }
            .portfolio-name{
                margin-top: 0px;
                margin-bottom: 5px;
                font-size: 15px;
                text-align: center;
            }
        }
    }

    //Contact Page
    .contact{
        width: 100%;
        .link-contact{
            text-decoration: none;
            color: var(--contrast-color);
            font-weight: bolder;
            &:hover{
                color: var(--primary-color);
                transition: 0.6s;
            }
            .contact-icon{
                width: 22px;
                vertical-align: bottom;
                display: inline-block;
                margin-right: 7px;
            }
        }
    }
}
