//Portfolio Page
    .portfolio-img{
        max-width: 60%;
        border-radius: 10px;
        &:hover{
            border: 2px groove var(--secondary-color);
            transition: 0.6s;
        }
    }
    .portfolio-name{
        margin-top: 5px;
        margin-bottom: 0px;
        &:hover{
            font-weight: bolder;
        }
    }

    //Contact Page
    .contact{
        width: 100%;
        .link-contact{
            text-decoration: none;
            color: var(--contrast-color);
            font-weight: bolder;
            &:hover{
                color: var(--primary-color);
                transition: 0.6s;
            }
            .contact-icon{
                width: 22px;
                vertical-align: bottom;
                display: inline-block;
                margin-right: 7px;
            }
        }
    }
}
