//Theme
:root{
    --primary-color: #8a2be2;
    --secondary-color: #75d41d;
    --contrast-color: #f5f5f5;
    --bg-color: #292b2c;
    --bg-radical-color: #000000;
    --bg-image: url("../images/bg-home-dark.webp");
    --invert: invert(100%);
}

//Extends
.flex-central{
    display: flex;
    justify-content: center;
    align-items: center;
}

//Body Settings
body{
    background-color: var(--bg-radical-color);
    background-image: var(--bg-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

//Customize Components
.main-section{
    border-radius: 20px;
    background-color: var(--bg-color);
    color: var(--contrast-color);
    padding: 30px;
    @extend .flex-central;
    max-width: 640px;

    //Avatar Section
    .avatar-section{
        @extend .flex-central;
        flex-direction: column;
        .avatar{
            width: 180px;
            border-radius: 100%;
            background: linear-gradient(270deg, #8a2be2, #ff0e54);
            background-size: 1000% 1000%;

            -webkit-animation: AnimationName 6s ease infinite;
            -moz-animation: AnimationName 6s ease infinite;
            animation: AnimationName 6s ease infinite;

            &:hover{
                background: linear-gradient(270deg, #75d41d, #0eff0e);
                background-size: 1000% 1000%;

                -webkit-animation: AnimationName 6s ease infinite;
                -moz-animation: AnimationName 6s ease infinite;
                animation: AnimationName 6s ease infinite;

                width: 200px;
                transition: 0.6s;
            }
        }
        .icons{
            @extend .flex-central;
            margin-top: 10px;
            .icon{
                width: 25px;
                margin-right: 5px;
                filter: var(--invert);
                border-radius: 10px;
                padding: 4px;
            }
            .btn-theme{
                width: 90px;
                cursor: pointer;
            }
        }
    }

    //Content-Section
    .content-section{
        margin-left: 40px;

        //Common Elements
        .btn-back{
            background-color: var(--primary-color);
            color: #ffffff;
            padding: 12px 24px;
            margin-top: 12px;
            margin-right: 8px;
            border-radius: 18px;
            text-decoration: none;
            &:hover{
                background-color: var(--secondary-color);
                transition: 0.6s;
                font-weight: bolder;
            }
        }
        .menu{
            display: flex;
            flex-wrap: wrap;
            .btn-menu{
                @extend .btn-back;
            }
        }

        //Home Skills
        .skills{
            display: inline-flex;
            .skill-icon{
                object-fit: contain;
                width: 30px;
                height: 30px;
                margin-right: 2px;
                &:hover{
                    width: 35px;
                    height: 35px;
                    transition: 0.4s;
                }
            }
        }

        //About Page
        .about-options{
            display: flex;
            flex-wrap: wrap;
        }

        //Portfolio Page
        .portfolio-img{
            max-width: 80%;
            border-radius: 10px;
            &:hover{
                border: 2px groove var(--secondary-color);
                transition: 0.6s;
            }
        }
        .portfolio-name{
            &:hover{
                font-weight: bolder;
            }
        }

        //Contact Page
        .link-contact{
            text-decoration: none;
            color: var(--contrast-color);
            font-weight: bolder;
            &:hover{
                color: var(--primary-color);
                transition: 0.6s;
            }
            .contact-icon{
                width: 22px;
                vertical-align: bottom;
                display: inline-block;
                margin-right: 7px;
            }
        }
    }
}

//Responsivity
@media (max-width:720px){
    body{
        background-size: contain;
        background-repeat: repeat;
        .main-section{
            flex-wrap: wrap;
            margin: 20px;
            min-height: 80vh;
            .portfolio-img{
                min-width: 180px;
            }
        }
    }
}

//Animations
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
