.avatar-section {
  flex-direction: column;
}
.avatar-section .avatar {
  width: 180px;
  border-radius: 100%;
  background: linear-gradient(270deg, #8a2be2, #ff0e54);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 6s ease infinite;
  -moz-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;
}
.avatar-section .avatar:hover {
  background: linear-gradient(270deg, #75d41d, #0eff0e);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 6s ease infinite;
  -moz-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;
  width: 200px;
  transition: 0.6s;
}
.avatar-section .icons {
  margin-top: 10px;
}
.avatar-section .icons .icon {
  width: 25px;
  margin-right: 5px;
  filter: var(--invert);
  border-radius: 10px;
  padding: 4px;
}
.avatar-section .icons .btn-theme {
  width: 90px;
  cursor: pointer;
}

.content-section {
  margin-left: 40px;
  width: 100%;
  min-height: 16rem;
  display: flex;
  align-items: center;
}
.content-section h1, .content-section h2 {
  margin-top: 0px;
}
.content-section .btn {
  background-color: var(--primary-color);
  border: none;
  font-size: 14px;
  color: #ffffff;
  padding: 10px 20px;
  margin-top: 12px;
  margin-right: 8px;
  border-radius: 18px;
  text-decoration: none;
}
.content-section .btn:hover {
  background-color: var(--secondary-color);
  transition: 0.6s;
  font-weight: bolder;
}
.content-section .menu {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
}
.content-section .skills {
  display: inline-flex;
}
.content-section .skills .skill-icon {
  object-fit: contain;
  width: 30px;
  height: 30px;
  margin-right: 2px;
}
.content-section .skills .skill-icon:hover {
  width: 35px;
  height: 35px;
  transition: 0.4s;
}
.content-section .about-options {
  display: flex;
  flex-wrap: wrap;
}
.content-section .carrousel {
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 70%;
}
.content-section .carrousel .arrow-div {
  margin-top: -24px;
  font-size: 24px;
  color: var(--contrast-color);
  opacity: 0.8;
  cursor: pointer;
}
.content-section .carrousel .arrow-div:hover {
  opacity: 1;
}
.content-section .carrousel .arrow1 {
  transform: translateX(-15px);
}
.content-section .carrousel .arrow2 {
  transform: translateX(10px);
}
.content-section .carrousel .portfolio-div {
  transform: translateX(-3%);
  flex-direction: column;
}
.content-section .carrousel .portfolio-div .portfolio-img {
  max-width: 105%;
  border-radius: 10px;
  opacity: 0.9;
}
.content-section .carrousel .portfolio-div .portfolio-img:hover {
  opacity: 1;
  transition: 0.4s;
}
.content-section .carrousel .portfolio-div .portfolio-name {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 15px;
  text-align: center;
}
.content-section .contact {
  width: 100%;
}
.content-section .contact p {
  margin-left: 7px;
}
.content-section .contact form {
  flex-wrap: wrap;
  max-width: 100%;
}
.content-section .contact form #name, .content-section .contact form #email, .content-section .contact form #message {
  background: none;
  border: none;
  border-bottom: 2px solid var(--primary-color);
  color: var(--contrast-color);
}
.content-section .contact form #name:focus, .content-section .contact form #email:focus, .content-section .contact form #message:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  border-bottom: 2px solid var(--primary-color);
  outline: 0;
}
.content-section .contact form #name, .content-section .contact form #email {
  width: 46%;
  margin: 5px;
}
.content-section .contact form #message {
  margin: 7px;
  width: 100%;
}

:root {
  --primary-color: #8a2be2;
  --secondary-color: #75d41d;
  --contrast-color: #000015;
  --bg-color: #f5f5f5;
  --bg-radical-color: #ffffff;
  --bg-image: url("../images/bg-home-light.webp");
  --invert: invert(0%);
}

.flex-central, .avatar-section, .avatar-section .icons, .content-section .carrousel .arrow-div, .content-section .carrousel .portfolio-div, .content-section .contact form {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: var(--bg-radical-color);
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.main-section {
  border-radius: 20px;
  background-color: var(--bg-color);
  color: var(--contrast-color);
  padding: 15px 30px;
  display: flex;
  width: 640px;
  animation: float 5s ease-in-out infinite;
}

#song-button {
  font-size: 0.8em;
  padding: 0.4em;
  background-color: #f5f5f5;
  border-radius: 100%;
  border: none;
  position: fixed;
  top: 7px;
  left: 7px;
}

@media (max-width: 720px) {
  #song-button {
    position: fixed;
    top: 4px;
    left: 4px;
    font-size: 0.7em;
  }
  .main-section {
    flex-wrap: wrap;
    margin: 20px;
    width: 75vw;
    flex-direction: column;
    padding: 20px;
  }
  .main-section .avatar-section {
    width: 100%;
  }
  .main-section .avatar-section .avatar {
    width: 160px;
  }
  .main-section .avatar-section .avatar:hover {
    width: 180px;
    transition: 0.6s;
  }
  .main-section .content-section {
    margin-left: 0px;
    margin-top: 0.9rem;
    justify-content: center;
    align-items: stretch;
    min-height: 22rem;
  }
  .main-section .content-section .home, .main-section .content-section .about, .main-section .content-section .portfolio, .main-section .content-section .contact {
    height: 100%;
    margin-left: 0.8rem;
  }
  .main-section .content-section .contact #email, .main-section .content-section .contact #name {
    width: 100%;
  }
  .main-section .content-section .contact #message {
    margin: 5px;
  }
  .main-section .content-section .carrousel {
    max-width: 100%;
  }
  .main-section .content-section .carrousel .portfolio-name {
    font-size: 14px;
  }
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(12px);
  }
  100% {
    transform: translatey(0px);
  }
}

/*# sourceMappingURL=style.css.map */
